<div style="text-align:center">
  <h1>Earth App</h1>
  <form id="coordinateForm" #coordinateFormData='ngForm' (submit)="RetrieveImages(userInput)">
    <label>Coordinates:</label>
    <input name="userInput" [(ngModel)]="userInput" type='text' placeholder="x,y">
    <input type="submit">
    <div *ngIf=errorMsgBool class='red'>{{errorMsg}}</div>
  </form>
  <div *ngIf='renderImg'>
    <div id="topRow">
      <img src='{{imageObject0.url}}'>
        <img src='{{imageObject1.url}}'>
        <img src='{{imageObject2.url}}'>
    </div>
    <div id="middleRow">
      <img src='{{imageObject3.url}}'>
        <img src='{{imageObject4.url}}'>
        <img src='{{imageObject5.url}}'>
    </div>
    <div id="bottomRow">
      <img src='{{imageObject6.url}}'>
        <img src='{{imageObject7.url}}'>
        <img src='{{imageObject8.url}}'>
    </div>
    
  </div>
</div>